html,body{
    margin:0 auto;
    width:1000px;
    padding:0;
    background-color: rgb(193, 240, 228);
}
.head{
    clear: both;
    height:70px;
    margin-top: 50px;
    margin-bottom: 50px;
}
span.head-point{
    display:block;
    float: left;
    border-width: 1px;
    width:20px;
    height: 50px;
    background-color:#4847BE;
}
.head-text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    float: left;
}
#time{
    color: grey;
    float: left;
    position: relative;
    top:20px;
    left:10px;
}
#showData{
    width:300px;
    margin-top: 50px;
    margin-bottom: 150px;
}
#contant.head{
    float:left;
    width: 500px;
    clear:both;
}
#data{
    width: 1000px;
    clear: both;
    margin: 20px auto 50px auto;
}
.list{
    width:200px;
    float: left;
    text-align:center;
}
#currentConfirmedCount_number{
    width:150px;
    float: left;
    font-size: 30px;
    color: darkred;
    background-color: white;
    text-align: center;
    border-radius:8px;
}
#nowConfirmed_number{
    width:150px;
    float: left;
    font-size: 30px;
    color: darkred;
    background-color: white;
    text-align: center;
    border-radius:8px;
}
#seemConfirmed_number{
    width:150px;
    float: left;
    font-size: 30px;
    color: darkred;
    background-color: white;
    text-align: center;
    border-radius:8px;
}
#cure_number{
    width:150px;
    float: left;
    font-size: 30px;
    color: darkred;
    background-color: white;
    text-align: center;
    border-radius:8px;
}
#dead_number{
    width:150px;
    float: left;
    font-size: 30px;
    color: darkred;
    background-color: white;
    text-align: center;
    border-radius:8px;
}
.text{
    width:150px;
    float: left;
}
.compane{
    width:150px;
    float: left;
    font-size: 15px;
    color: goldenrod;
}
#showMap{
    margin: 150px auto 100px auto;
    width: 1000px;
}
.head{
    width: 1000px;
    clear: both;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button-position{
    width:300px;
    font-size: 10px;
    margin:0 auto;
}
button{
    width:100px;
    border-radius:8px;
}
#newsList{
    width:1000px;
    clear: both;
    margin:100px auto;
}
#News{
    width:800px;
    margin:0 auto;
    background-color: silver;
    padding: 5px 5px 2px 5px;
    border-radius:8px;
}
#News>ul{
    width:760px;
    margin:0 auto;
    background-color: white;
    border-radius:8px;
}
.title{
    width:1000px;
    display:block;
    clear: both;
    text-align: left;
    font-weight: 1000;
}
.introducte{
    width:760px;
    display:block;
    clear: both;
    text-align: left;
    font-size: small;
}
#more{
    width:1000px;
    display:block;
    clear: both;
    text-align: center;
    color: blue;
    font-size: larger;
}
#back{
    border-style: solid;
    font-size:larger;
    width:150px;
    clear: both;
    background-color: rgb(120, 210, 240);
}
li{
    list-style-type:none;
}
#lineChart{
    width:80% auto;
    height: 400px;
    border-style: dashed;
    border-width: 1px;
    border-color: aliceblue;
}