html,body{
    margin:0 auto;
    width:800px;
    padding:0;
    background-color: rgb(193, 240, 228);
    border-style: groove;
    border-width: 3px;
    border-color: #B5ECE6;
}
.head{
    clear: both;
    height:70px;
}
span.head-point{
    display:block;
    float: left;
    border-width: 1px;
    width:20px;
    height: 70px;
    background-color:#4847BE;
}
.head-text{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    float: left;
}
#time{
    color: grey;
    float: left;
    position: relative;
    top:40px;
    left:30px;
}
#showData{
    width:200px;
}
#contant.head{
    float:left;
    width: 400px;
    clear:both;
}
#data{
    width: 800px;
    clear: both;
    margin: 0 auto;
}
#list{
    width:160px;
    float: left;
    text-align:center;
}
#number{
    width:130px;
    float: left;
    font-size: 30px;
    color: darkred;
    background-color: white;
    text-align: center;
}
#text{
    width:130px;
    float: left;
}
#compane{
    width:130px;
    float: left;
    font-size: 15px;
    color: goldenrod;
}
#showMap{
    margin: 0 auto;
    width: 800px;
}
.head{
    width: 800px;
    clear: both;
    text-align:center;
}
.button-position{
    width:300px;
    font-size: 10px;
    margin:0 auto;
}
button{
    width:100px;
}
#newsList{
    width:800px;
    clear: both;
    margin:0 auto;
}
#News{
    width:700px;
    margin:0 auto;
    background-color: silver;
    padding: 5px 5px 2px 5px;
}
#News>ul{
    width:660px;
    margin:0 auto;
    background-color: white;
}
#title{
    width:800px;
    display:block;
    clear: both;
    text-align: left;
}
#introducte{
    width:660px;
    display:block;
    clear: both;
    text-align: left;
    font-size: small;
}
#more{
    width:800px;
    display:block;
    clear: both;
    text-align: center;
    color: blue;

}
#back{
    border-style: solid;
    font-size:small;
    width:100px;
    clear: both;
}